{% load staticfiles %}
<section class="small-section pb-0">
    <div class="blog-posts-carousel">

                    <!-- Post Item -->
                    <div class="blog-posts-carousel-item align-center">
                        <div class="post-prev-img">
                            <a href="blog-single-sidebar-right.html"><img src="{% static 'images/portfolio/full-project-1.jpg' %}" alt="" /></a>
                        </div>
                        <div class="post-prev-title font-alt">
                            <a href="">New Web Design Trends</a>
                        </div>
                        <div class="post-prev-info font-alt">
                            <a href="">By John Doe</a> | 10 December
                        </div>

                    </div>
                    <!-- End Post Item -->

                    <!-- Post Item -->
                    <div class="blog-posts-carousel-item  align-center">
                        <div class="post-prev-img">
                            <a href="blog-single-sidebar-right.html"><img src="{% static 'images/portfolio/full-project-2.jpg' %}" alt="" /></a>
                        </div>
                        <div class="post-prev-title font-alt">
                            <a href="">Minimalistic Design Forever</a>
                        </div>
                        <div class="post-prev-info font-alt">
                            <a href="">By John Doe</a> | 9 December
                        </div>
                    </div>
                    <!-- End Post Item -->

                    <!-- Post Item -->
                    <div class="blog-posts-carousel-item align-center">
                        <div class="post-prev-img">
                            <a href="blog-single-sidebar-right.html"><img src="{% static 'images/portfolio/full-project-3.jpg' %}" alt="" /></a>
                        </div>
                        <div class="post-prev-title font-alt">
                            <a href="">Hipster&rsquo;s Style in&nbsp;Web</a>
                        </div>
                        <div class="post-prev-info font-alt">
                            <a href="">John Doe</a> | 7 December
                        </div>
                    </div>
                    <!-- End Post Item -->

                    <!-- Post Item -->
                    <div class="blog-posts-carousel-item align-center">
                        <div class="post-prev-img">
                            <a href="blog-single-sidebar-right.html"><img src="{% static 'images/portfolio/full-project-4.jpg' %}" alt="" /></a>
                        </div>
                        <div class="post-prev-title font-alt">
                            <a href="">Duis tristique condimentum</a>
                        </div>
                        <div class="post-prev-info font-alt">
                            <a href="">John Doe</a> | 7 December
                        </div>
                    </div>
                    <!-- End Post Item -->

                    <!-- Post Item -->
                    <div class="blog-posts-carousel-item align-center">
                        <div class="post-prev-img">
                            <a href="blog-single-sidebar-right.html"><img src="{% static 'images/portfolio/full-project-5.jpg' %}" alt="" /></a>
                        </div>
                        <div class="post-prev-title font-alt">
                            <a href="">Duis tristique condimentum</a>
                        </div>
                        <div class="post-prev-info font-alt">
                            <a href="">John Doe</a> | 7 December
                        </div>
                    </div>
                    <!-- End Post Item -->

    </div>
</section>