     {% load staticfiles %}

            <!-- Section -->
            <section class="small-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <div class="col-sm-8">
                            
                            <h3 class="blog-item-title font-alt mb-10"><a href="#">Big Data</a></h3>
                            
                            <hr class="mt-0 mb-30" />
                            
                            <!-- Blog Post -->
                            <div class="row">
                                
                                <div class="col-md-6">
                                    
                                    <!-- Media Gallery -->
                                    <div class="blog-media">
                                        <ul class="clearlist content-slider">
                                            <li>
                                                <a href="#"><img src=" {% static 'images/blog/post-prev-10.jpg' %} " alt="" /></a>
                                            </li>
                                            <li>
                                                <a href="#"><img src=" {% static 'images/blog/post-prev-11.jpg' %} " alt="" /></a>
                                            </li>
                                            <li>
                                                <a href="#"><img src=" {% static 'images/blog/post-prev-12.jpg' %} " alt="" /></a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                
                                <div class="col-md-6 mb-30">
                                    
                                    <!-- Post Title -->
                                    <h2 class="post-prev-title font-alt mt-0"><a href="blog-single-sidebar-right.html">Post with media gallery</a></h2>
                                    
                                    <!-- Author, Categories, Comments -->
                                    <div class="blog-item-data mb-20">
                                        <a href="#"><i class="fa fa-clock-o"></i> 5 Dec 2015</a>
                                        <span class="separator">&nbsp;</span>
                                        <a href="#"><i class="fa fa-comments"></i> 5 Comments </a>
                                    </div>
                                    
                                    <!-- Text Intro -->
                                    <div class="post-prev-text">
                                        Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor 
                                        consectetur fermentum nibh volutpat, accumsan purus. 
                                    </div>
                                    
                                    <!-- Read More Link -->
                                    <div class="blog-item-foot">
                                        <a href="blog-single-sidebar-right.html" class="btn btn-mod btn-round  btn-small">Read More <i class="fa fa-angle-right"></i></a>
                                    </div>
                                
                                </div>
                                
                            </div>
                            <!-- End Blog Post -->
                            
                            <!-- Post Small Previews -->
                            <div class="row mb-70">
                                
                                <div class="col-sm-6">
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-1.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">Minimalistic Design Forever</a>
                                            Posted by John Doe 7 Mar 
                                        </div>
                                    </div>
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-2.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">Ipsum dolor sit amet, consectetur adipiscing elit</a>
                                            Posted by John Doe 7 Mar 
                                        </div>
                                    </div>
                                
                                </div>
                                
                                <div class="col-sm-6">
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-3.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">New Web Design Trends in 2015 year</a>
                                            Posted by John Doe 7 Mar 
                                        </div>
                                    </div>
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-4.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">Hipster’s Style in Web Design and Logo</a>
                                            Posted by John Doe 7 Mar 
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <!-- End Post Small Previews -->
                            
                            <!-- ************************************ -->
                            
                            <div class="align-center mb-70">
                                <a href="#"><img src=" {% static 'images/banners/banner-720x90.png"  alt="" /></a>
                            </div>
                            
                            <!-- ************************************ -->
                            
                            <h3 class="blog-item-title font-alt mb-10"><a href="#">Machine Learning</a></h3>
                            
                            <hr class="mt-0 mb-30" />
                            
                            <!-- Blog Post -->
                            <div class="row">
                                
                                <div class="col-md-6">
                                    
                                    <!-- Media Gallery -->
                                    <div class="blog-media">
                                        <img src=" {% static 'images/blog/post-prev-11.jpg' %} " alt="" />
                                    </div>

                                </div>
                                
                                <div class="col-md-6 mb-30">
                                    
                                    <!-- Post Title -->
                                    <h2 class="post-prev-title font-alt mt-0"><a href="blog-single-sidebar-right.html">Post with Single Image</a></h2>
                                    
                                    <!-- Author, Categories, Comments -->
                                    <div class="blog-item-data mb-20">
                                        <a href="#"><i class="fa fa-clock-o"></i> 5 Dec 2015</a>
                                        <span class="separator">&nbsp;</span>
                                        <a href="#"><i class="fa fa-comments"></i> 5 Comments </a>
                                    </div>
                                    
                                    <!-- Text Intro -->
                                    <div class="post-prev-text">
                                        Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor 
                                        consectetur fermentum nibh volutpat, accumsan purus. 
                                    </div>
                                    
                                    <!-- Read More Link -->
                                    <div class="blog-item-foot">
                                        <a href="blog-single-sidebar-right.html" class="btn btn-mod btn-round  btn-small">Read More <i class="fa fa-angle-right"></i></a>
                                    </div>
                                
                                </div>
                                
                            </div>
                            <!-- End Blog Post -->
                            
                            <!-- Post Small Previews -->
                            <div class="row mb-70">
                                
                                <div class="col-sm-6">
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-5.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">Minimalistic Design Forever</a>
                                            Posted by John Doe 7 Mar 
                                        </div>
                                    </div>
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-2.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">Ipsum dolor sit amet, consectetur adipiscing elit</a>
                                            Posted by John Doe 7 Mar 
                                        </div>
                                    </div>
                                
                                </div>
                                
                                <div class="col-sm-6">
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-3.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">New Web Design Trends in 2015 year</a>
                                            Posted by John Doe 7 Mar 
                                        </div>
                                    </div>
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-4.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">Hipster’s Style in Web Design and Logo</a>
                                            Posted by John Doe 7 Mar 
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <!-- End Post Small Previews -->
                            
                            <!-- ************************************ -->
                            
                            <div class="align-center mb-70">
                                <a href="#"><img src=" {% static 'images/banners/banner-720x90.png" alt="" /></a>
                            </div>
                            
                            <!-- ************************************ -->
                            
                            <h3 class="blog-item-title font-alt mb-10"><a href="#">Software Development</a></h3>
                            
                            <hr class="mt-0 mb-30" />
                            
                            <!-- Blog Post -->
                            <div class="row">
                                
                                <div class="col-md-6">
                                    
                                    <!-- Media Gallery -->
                                    <div class="blog-media">
                                        <iframe width="640" height="360" src="http://www.youtube.com/embed/w2JUhDd0CAA" allowfullscreen></iframe>
                                    </div>

                                </div>
                                
                                <div class="col-md-6 mb-30">
                                    
                                    <!-- Post Title -->
                                    <h2 class="post-prev-title font-alt mt-0"><a href="blog-single-sidebar-right.html">Post with Single Video</a></h2>
                                    
                                    <!-- Author, Categories, Comments -->
                                    <div class="blog-item-data mb-20">
                                        <a href="#"><i class="fa fa-clock-o"></i> 5 Dec 2015</a>
                                        <span class="separator">&nbsp;</span>
                                        <a href="#"><i class="fa fa-comments"></i> 5 Comments </a>
                                    </div>
                                    
                                    <!-- Text Intro -->
                                    <div class="post-prev-text">
                                        Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor 
                                        consectetur fermentum nibh volutpat, accumsan purus. 
                                    </div>
                                    
                                    <!-- Read More Link -->
                                    <div class="blog-item-foot">
                                        <a href="blog-single-sidebar-right.html" class="btn btn-mod btn-round  btn-small">Read More <i class="fa fa-angle-right"></i></a>
                                    </div>
                                
                                </div>
                                
                            </div>
                            <!-- End Blog Post -->
                            
                            <!-- Post Small Previews -->
                            <div class="row mb-70">
                                
                                <div class="col-sm-6">
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-1.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">Minimalistic Design Forever</a>
                                            Posted by John Doe 7 Mar 
                                            <div>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-2.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">Ipsum dolor sit amet, consectetur adipiscing</a>
                                            Posted by John Doe 7 Mar
                                            <div>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div> 
                                        </div>
                                    </div>
                                
                                </div>
                                
                                <div class="col-sm-6">
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-3.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">New Web Design Trends in 2015 year</a>
                                            Posted by John Doe 7 Mar
                                            <div>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div> 
                                        </div>
                                    </div>
                                    
                                    <div class="blog-post-prev-small clearfix">
                                        <a href=""><img src=" {% static 'images/blog/previews/post-prev-4.jpg' %} " alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">Hipster’s Style in Web Design and Logo</a>
                                            Posted by John Doe 7 Mar
                                            <div>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div> 
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <!-- End Post Small Previews -->
                            
                        </div>
                        
                        <div class="col-sm-4 sidebar">
                            
                            <!-- Widget -->
                            <div class="widget">
                                
                                <h5 class="widget-title font-alt">Flollow us</h5>
                                
                                <div class="widget-body">
                                    <a href="#" class="btn btn-mod btn-small btn-round btn-gray mb-10"><i class="fa fa-facebook"></i> Facebook</a>
                                    <a href="#" class="btn btn-mod btn-small btn-round btn-gray mb-10"><i class="fa fa-twitter"></i> Twitter</a>
                                    <a href="#" class="btn btn-mod btn-small btn-round btn-gray mb-10"><i class="fa fa-rss"></i> RSS</a>
                                </div>
                                
                            </div>
                            <!-- End Widget -->
                            
                            <!-- Search Widget -->
                            <div class="widget">
                                <form class="form-inline form" role="form">
                                    <div class="search-wrap">
                                        <button class="search-button animate" type="submit" title="Start Search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <input type="text" class="form-control search-field" placeholder="Search...">
                                    </div>
                                </form>
                            </div>
                            <!-- End Search Widget -->
                            
                            <!-- Widget -->
                            <div class="widget">
                                
                                <h5 class="widget-title font-alt">Categories</h5>
                                
                                <div class="widget-body">
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="clearlist widget-menu">
                                                <li>
                                                    <a href="#" title="">Big Data</a>
                                                    <small>
                                                        - 7
                                                    </small>
                                                </li>
                                                <li>
                                                    <a href="#" title="">Machine Learning</a>
                                                    <small>
                                                        - 15
                                                    </small>
                                                </li>
                                                <li>
                                                    <a href="#" title="">Software Development</a>
                                                    <small>
                                                        - 3
                                                    </small>
                                                </li>
                                                <!--<li>-->
                                                    <!--<a href="#" title="">Photography</a>-->
                                                    <!--<small>-->
                                                        <!-- - 5-->
                                                    <!--</small>-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                    <!--<a href="#" title="">Business</a>-->
                                                    <!--<small>-->
                                                        <!-- - 1-->
                                                    <!--</small>-->
                                                <!--</li>-->
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="clearlist widget-menu">
                                                <li>
                                                    <a href="#" title="">World</a>
                                                    <small>
                                                        - 3
                                                    </small>
                                                </li>
                                                <li>
                                                    <a href="#" title="">Technology</a>
                                                    <small>
                                                        - 5
                                                    </small>
                                                </li>
                                                <li>
                                                    <a href="#" title="">Sport</a>
                                                    <small>
                                                        - 1
                                                    </small>
                                                </li>
                                                <li>
                                                    <a href="#" title="">Entertainment</a>
                                                    <small>
                                                        - 7
                                                    </small>
                                                </li>
                                                <li>
                                                    <a href="#" title="">Education</a>
                                                    <small>
                                                        - 15
                                                    </small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <!-- End Widget -->
                            
                            <!-- Widget -->
                            <div class="widget">
                                
                                <div class="widget-body">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tpl-tabs animate">
                                        <li class="active">
                                            <a href="#one" data-toggle="tab">Popular</a>
                                        </li>
                                        <li>
                                            <a href="#two" data-toggle="tab">Latest</a>
                                        </li>
                                    </ul>
                                    
                                    <!-- Tab panes -->
                                    <div class="tab-content tpl-tabs-cont section-text">
                                        <div class="tab-pane fade in active" id="one">
                                            
                                            <ul class="clearlist widget-posts">
                                        
                                                <!-- Preview item -->
                                                <li class="clearfix">
                                                    <a href=""><img src=" {% static 'images/blog/previews/post-prev-3.jpg' %} " alt="" class="widget-posts-img" /></a>
                                                    <div class="widget-posts-descr">
                                                        <a href="#" title="">Commerce Multipurpose Themes</a>
                                                        <div>
                                                            Posted by John Doe 7 Mar 
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Preview item -->
                                                
                                                <!-- Preview item -->
                                                <li class="clearfix">
                                                    <a href=""><img src=" {% static 'images/shop/previews/shop-prev-2.jpg' %} " alt="" class="widget-posts-img" /></a>
                                                    <div class="widget-posts-descr">
                                                        <a href="#" title="">Examples of 404 Error Pages to Inspire You</a>
                                                        <div>
                                                            Posted by John Doe 7 Mar 
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Preview item -->
                                                
                                                <!-- Preview item -->
                                                <li class="clearfix">
                                                    <a href=""><img src=" {% static 'images/blog/previews/post-prev-5.jpg' %} " alt="" class="widget-posts-img" /></a>
                                                    <div class="widget-posts-descr">
                                                        <a href="#" title="">The Importance of Case Studies in a Design Portfolio</a>
                                                        <div>
                                                            Posted by John Doe 7 Mar 
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Preview item -->
                                                
                                                <!-- Preview item -->
                                                <li class="clearfix">
                                                    <a href=""><img src=" {% static 'images/shop/previews/shop-prev-4.jpg' %} " alt="" class="widget-posts-img" /></a>
                                                    <div class="widget-posts-descr">
                                                        <a href="#" title="">Best Multipurpose WordPress Themes</a>
                                                        <div>
                                                            Posted by John Doe 7 Mar 
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Preview item -->
                                                
                                            </ul>
                                            
                                        </div>
                                        <div class="tab-pane fade" id="two">
                                            
                                            <ul class="clearlist widget-posts">
                                                <li class="clearfix">
                                                    <a href=""><img src=" {% static 'images/blog/previews/post-prev-2.jpg' %} " alt="" class="widget-posts-img" /></a>
                                                    <div class="widget-posts-descr">
                                                        <a href="#" title="">Ipsum dolor sit amet, consectetur adipiscing elit</a>
                                                        Posted by John Doe 7 Mar 
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <a href=""><img src=" {% static 'images/blog/previews/post-prev-3.jpg' %} " alt="" class="widget-posts-img" /></a>
                                                    <div class="widget-posts-descr">
                                                        <a href="#" title="">New Web Design Trends in 2015 year</a>
                                                        Posted by John Doe 7 Mar 
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <a href=""><img src=" {% static 'images/blog/previews/post-prev-4.jpg' %} " alt="" class="widget-posts-img" /></a>
                                                    <div class="widget-posts-descr">
                                                        <a href="#" title="">Hipster’s Style in Web Design and Logo</a>
                                                        Posted by John Doe 7 Mar 
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <a href=""><img src=" {% static 'images/blog/previews/post-prev-5.jpg' %} " alt="" class="widget-posts-img" /></a>
                                                    <div class="widget-posts-descr">
                                                        <a href="#" title="">Duis tristique condimentum nulla, bibendum consectetu</a>
                                                        Posted by John Doe 7 Mar 
                                                    </div>
                                                </li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- End Widget -->
                            
                            <!-- Widget -->
                            <div class="widget">
                                
                                <h5 class="widget-title font-alt">Tags</h5>
                                
                                <div class="widget-body">
                                    <div class="tags">
                                        <a href="">Design</a>
                                        <a href="">Portfolio</a>
                                        <a href="">Digital</a>
                                        <a href="">Branding</a>
                                        <a href="">Theme</a>
                                        <a href="">Clean</a>
                                        <a href="">UI & UX</a>
                                        <a href="">Love</a>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- End Widget -->
                            
                            <!-- Widget -->
                            <div class="widget">
                                
                                <h5 class="widget-title font-alt">Latest comments</h5>
                                
                                <div class="widget-body">
                                    <ul class="clearlist widget-posts">
                                        
                                        <li class="clearfix">
                                            <a href=""><img src=" {% static 'images/user-avatar.png" width="40" " alt="" class="widget-posts-img img-circle" /></a>
                                            <div class="widget-posts-descr">
                                                John Doe: <a href="#" title="">Suspendisse eu risus nunc. Integer commodo eget leo eget pulvinar...</a>
                                            </div>
                                        </li>
                                        
                                        <li class="clearfix">
                                            <a href=""><img src=" {% static 'images/user-avatar.png" width="40" " alt="" class="widget-posts-img img-circle" /></a>
                                            <div class="widget-posts-descr">
                                                John Doe: <a href="#" title="">Quisque sollicitudin massa dolor, et facilisis mauris sollicitudin id....</a>
                                            </div>
                                        </li>
                                        
                                        <li class="clearfix">
                                            <a href=""><img src=" {% static 'images/user-avatar.png" width="40" " alt="" class="widget-posts-img img-circle" /></a>
                                            <div class="widget-posts-descr">
                                                John Doe: <a href="#" title="">Donec vitae lacus molestie, dapibus libero quis, ornare tellus...</a>
                                            </div>
                                        </li>
                                        
                                        <li class="clearfix">
                                            <a href=""><img src=" {% static 'images/user-avatar.png" width="40" " alt="" class="widget-posts-img img-circle" /></a>
                                            <div class="widget-posts-descr">
                                                John Doe: <a href="#" title="">Integer tincidunt urna at erat varius eleifend at et ante...</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                            <!-- End Widget -->
                            
                            <!-- Search Widget -->
                            <div class="widget">
                                
                                <div class="align-center">
                                    <a href="#"><img src=" {% static 'images/banners/banner-300x250.png" " alt="" /></a>
                                </div>
                                
                            </div>
                            <!-- End Search Widget -->
                            
                        </div>
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
       